.card:not(.card-title) {
  margin: 15px;
  text-align: left;
}

.s12 {
  text-align: center;
}

.hidden {
  display: none;
}

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  font-size: 25px;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
}
button:hover{
    background-color: #38a;
}


#done{
  margin-top: 30px;
}


.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  margin-bottom: 10px;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#checkboxes label {
  float: left;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}

.checkboxgroup{
  /* width: 20em; */
  overflow: auto;
}

.checkboxgroup p{
  /* width: 7em; */
  text-align: right;
}

.checkboxgroup label{
  color: #000;
  margin-bottom: 20px;
  width: 12em;
  float: right;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 15px;
  background-color: #38a;
}
